.welcome-content {
  --background: #FDF6E3; 
  --color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  padding: 20px;
  margin-top: -70px;
}

.button {
  --background: #FF6B81;
  --border-radius: 9999px;
  font-family: Nunito-Bold, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  text-transform: none;

  width: 60%;
  margin: 20px auto 0 auto;
  display: block;
}

.welcome-logo {
  width: 500px;
  margin: 40px auto 0auto;
  animation: moveUp 1.6s ease-out;
  display: block;
}

@keyframes moveUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.welcome-container h1,
.welcome-container p,
.welcome-container .button {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 1.6s; 
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1{
  font-size: 24px;
  margin: 8px 0;
  font-weight: bold;
}

p{
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 30px;
}